:root {
  --primary-font: "Noto Serif Telugu", serif;
  --secondary-font: "Inter", sans-serif;
  --primary-color: #f8e5cd;
  --secondary-color: rgb(71, 58, 172);
  /* --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
}

body {
  font-family: var(--secondary-font);
}

h1 {
  font-family: var(--primary-font);
  font-size: 100px;
}

h2 {
  font-family: var(--primary-font);
  font-size: 60px;
}

p {
  font-size: 16px;
  line-height: 1.8;
}

.hero {
  background: var(--primary-color);
  padding: 160px 20px;
  text-align: center;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 28px;
  font-weight: 300;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 36px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 2;
}

.btn-branding-outline {
  color: rgb(71, 58, 172);
  border-radius: 4;
  border: 1px solid var(--secondary-color);
  background: white;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 2;
}

.project-description {
  padding: 30px 5px;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 50px;
}

.about-section h2 {
  font-family: var(--secondary-font);
  font-size: 28px;
  font-weight: 300;
}
.personal-image {
  max-width: 400px;
  width: 100%;
}

.skills-list {
  color: var(--secondary-color);
  list-style: none;
}

@media (max-width: 992px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0 20px;
  }
  .skills-list {
    padding: 0;
  }
  .personal-image {
    max-width: 260px;
    width: 100%;
  }
}
